importFrom("pROC", "roc")
importFrom("glmnet", "cv.glmnet")
importFrom("randomForest", "randomForest")
importFrom("e1071", "svm")

importFrom("stats", "runif", "coef", "predict")
importFrom("graphics", "plot")

export(btml)
